.headline {
  width: 100%;
  h1 {
    margin: 0.1rem 0;
    font-size: 2.2rem;
  }
  p {
    font-size: 1.4rem;
    margin: 0 0 1.7rem 0;
  }
  a:nth-of-type(n+2) {
    margin-left: 15px;
  }
  .discord {
    width: 45px;
  }
  .github {
    width: 53px;
  }
  .telegram {
    width: 51px;
  }
}

.intro {
  width: 100%;
  height: auto;
  margin-bottom: 3.9rem;
}
